.Task {
    display: flex;
    justify-content: space-between;
    padding: 1.82rem;
    border-bottom: 0.5px solid lightgray;
    color: black;
}

.TaskName {
    width: 550px;
    text-align: left;
    overflow: hidden;
}

.Priority {
    width: 70px;
    text-align: left;
}

.TaskStatus {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
}

.TaskStatus input {
    position: absolute;
    opacity: 0;
}

.Checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}

/* Checkbox effects */

.Checkbox::after {
    position: absolute;
    content: '';
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
}

input:checked ~ .Checkbox {
    background-color: orange;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid orange;
}

input:checked ~ .Checkbox::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.Checkbox::before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 3.5px solid orange;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

input:checked ~ .Checkbox::before {
    left: -3px;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

/**/

.DeleteTask {
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: right;
    color: gray;
}

.DeleteTask:hover {
    color: indianred;
    transition: all 0.3s ease-in;
}

@media only screen and (min-width: 576px) and (max-width: 1499px) {
    .TaskName {
        max-width: 8rem;
        max-height: 1.3rem;
        overflow: hidden;
    }

    .Priority {
        width: 4rem;
    }

    .TaskStatus {
        width: 1rem;
        height: 1rem;
    }

    .DeleteTask {
        width: 1rem;
        height: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .TaskName {
        max-width: 8rem;
        max-height: 1.3rem;
        overflow: hidden;
        font-style: italic;
    }

    .Priority {
        width: 3.5rem;
    }

    .TaskStatus {
        width: 0.9rem;
    }
}
