body,
html,
#root {
    height: 100vh;
}

h1 {
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    padding: .5rem 0;
    font-size: 2rem;
    color: white;
}

.App {
    background-color: goldenrod
}

