.InputBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.InputBar input {
    width: 300px;
    padding: 0.77rem;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
}

.InputBar select {
    width: 324.6px;
    padding: 0.77rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.Warning {
    display: none;
    width: 18rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: indianred;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.AddButton {
    cursor: pointer;
    padding: 1rem;
    width: 8rem;
    margin: 2rem;
    background-color: rebeccapurple;
    color: white;
    border-radius: 30px;
    border: 0px none;
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: ease-in 0.2s;
}

.AddButton:hover {
    background-color: indigo;
}

@media only screen and (max-width: 767px) {
    .InputBar input {
        width: 200px;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .InputBar select {
        width: 224.6px;
    }

    .Warning {
        width: 200px;
        padding: 0.9rem;
    }
}
