.TaskList {
    width: 50%;
    max-height: 400px;
    background-color: purple;
    margin: auto;
    border: 10px solid lightgray;
    border-top: none;
    border-bottom: none;
}

@media only screen and (max-width: 1299px) {
    .TaskList {
        width: 100%;
        height: 400px;
        background-color: purple;
        margin: auto;
        border: none;
    }
}